/*
    Keller Tree
    11/14/2023
*/

img {
    float: left;
    margin-right: 20px;
}
/* PARAGRAPHS */
article p {
    margin-top: 3em; 
}
/* ARTICLE ELEMENTS */
article {
    width: 100%;
    float: left;
    padding: 20px; 
    margin: 20px 0; 
    border-radius: 12px; 
    box-shadow: 0 0 10px #000000; 
}
footer { clear: both; }

