/*
    Keller Tree
    11/14/2023
*/

/* Coffee Mug Photo */
header img[alt="Image of Coffee Mugs"] {
    border: 2px solid #FFFFFF;
    box-shadow: 2px 2px 5px #888888;
    max-width: 50%;
    margin: 3rem;
    float: right;
}
/* Crown Coffee Values */
aside {
    text-align: center;
    background-color: #D6CBC0;
    padding: 15px;
    border: 2px solid #A87B50;
    border-radius: 10px;
}
/* Footer */
footer { clear: right; }

