/*
    Keller Tree
    11/14/2023
*/

/* BODY ELEMENT STYLES */
body { 
    font-family: sans-serif;
    margin: 0;
}
/* MAIN ELEMENT STYLES */
main {
    width: 55%;
    margin: 20px auto;
}
/* HEADER ELEMENT STYLES */
header {
    background-color: #2E1B11;
    color: #FFFFFF;
    text-align: center;
    padding: 1em;
    border-top: 2px solid #ED4749;
    border-bottom: 2px solid #ED4749;
}
/* HEADINGS STYLES */
h1 {
    color: #FFFFFF;
    font-weight: normal;
    letter-spacing: 2px;
}
h2, h3, h4, h5, h6 { color: #ED4749; }
/* LINK ELEMENT STYLES */
a { text-decoration: none; }
a:link { color: #709F10; }
a:visited { color: #A87B50; }
a:hover { color: #ED4749; }
/* TOP NAVIGATION ELEMENT LINKS STYLES */
nav a { color: #ED4749; }
nav a:visited { color: #A87B50; }
nav a:hover {
    color: #C39F89;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}
/* Logo Image Styles */
header img[alt="Crown Coffee Logo"] { width: 250px; }
/* Back to Top image Styles */
main img[alt="Back to Top"] { width: 50px; }
footer {
    padding: 0px;                     /* Add padding to the right, left, and bottom */
    background-color: #2E1B11;         /* Change the background color to #2E1B11 */
    color: #D6CBC0;                    /* Change the text color to #D6CBC0 */
    border-top: 2px solid #ED4749;     /* Add a top border #ED4749 */
}
footer address { text-align: right; } /* Aligns address right */
footer a[href="contact.html"] {
    background-color: #FFFFFF; /* Change the background color */
    padding: 10px; /* Add padding to all sides */
    border: 2px solid #A87B50; /* Add a border to all sides */
    border-radius: 5px; /* Round the border corners */
    transition: border-color 0.3s; /* Add a transition for smooth hover effect */
}
/* Change the border color on hover */
footer a[href="contact.html"]:hover { border-color: #ED4749;}
