/*
    Keller Tree
    12/2/2023
*/

header {
  background-color: #47724b;
  color: #fcfffd;
  padding: 1rem;
  text-align: center;
}
nav {
  background-color: #a6be9f;
  padding: 1rem;
  display: flex;
  justify-content: center; 
  border-radius: 12px;
}
nav a {
  color: #000000;
  text-decoration: none;
  padding: 0.5rem 1rem;
  margin: 0 0.5rem;
  border-radius: 5px; 
  transition: background-color 0.3s ease;
}
nav a:hover { background-color: #78bd7f; }
body {
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  background-color: #a6be9f;
}
main { flex-grow: 1; }
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}
footer {
  background-color: #47724b;
  color: #fff;
  padding: 1rem;
  text-align: center;
}
/* Media query for viewport less than or equal to 40em (640px) */
@media (max-width: 40em) {
  h1 { font-size: 1.5rem; }
  h2 { font-size: 1.2rem; }
  body {
    margin: 0.5rem;
    padding: 0.5rem;
  }
  nav {
    padding: 0.5rem;
    flex-direction: column; 
  }
  nav a { margin: 0.5rem 0; }
  nav a { font-size: 1.2rem; }
}

@media only screen and (max-width: 600px) {
  body { font-size: 16px; }
  .float-right {
    float: none;
    margin: 0;
  }
  .clearfix::after {
    content: "";
    display: table;
    clear: both;
  }
  .image-container { text-align: center; }
  .responsive-image { width: 100%; }
  .image-caption { font-size: 12px; }
}